<div class="col p-0 m-0 mr-2 mb-2 mt-0 display-card card border" style="width: 16rem;">
    <img src="/avatars/{{avatar_found avatar}}" style=" height: 200px; width: 100%; object-fit: cover;"
        class="card-img-top mx-auto" alt="..." />
    <div class="card-body">
        <h3 class="card-title mb-0" style="text-align: center">{{fName}} {{lName}}</h3>
        <p class="card-text" style="text-align: center">
            <small>{{placement}}</small> | <small>{{position}}</small> <br>
            <a href="{{profile_route}}/{{_id}}" style="text-decoration: none;">
                <button type="submit" class="btn btn-primary w-75 mt-2" id="save_button" style="font-size: 12px;">VIEW
                    PROFILE</button>
            </a>
        </p>
    </div>
</div>