<a href="#" style="text-decoration: none;" data-toggle="modal" data-target="#a{{_id}}">
	<div class="card job border m-0 mb-1 w-100">
		<div class="p-2">
			<span class=" p-0 mb-0" style="font-size: 18px; color: #212529;"><b>{{clinic_name}}</b></span> 

			<span class="p-0 mb-0 ml-5" style="color: #212529;">{{subject}}</span>
			<span style="float: right; color: #212529;">{{formatContactReqDate created}}</span>
			<small></small>
			<br>
		</div>
	</div>
</a>

<!-- Modal -->
<div class="modal fade" id="a{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>{{clinic_name}}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body"> 
         <p class="h1">{{subject}}</p>
         <p> {{body}} </p>
         <br>
  
         <span style="text-align: left; margin-right: 5px;"> <i class="fas fa-location-arrow icon-color">&nbsp;</i> {{clinic_city}}, {{clinic_state}} </span>
        
        <span style="text-align: left; margin-right: 5px;"> <i class="far fa-envelope icon-color">&nbsp;</i> {{clinic_email.[0]}}</span>
        
        <span style="text-align: left;"> <i class="fas fa-phone icon-color">&nbsp;</i> {{clinic_phone}} </span>
      
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-trash"></i> Delete</button>
        <a type="button" class="btn btn-primary" href="mailto: abc@example.com"><i class="far fa-envelope"></i> Contact Employer</a>
      </div>
    </div>
  </div>
</div>

