<a href="#" style="text-decoration: none;">
<div class="card job border m-1">
	<div class="p-2">
		<p class="h1" style="font-size: 18px; padding-top: 5px; padding-left: 5px">{{clinicName}}</p>
		<hr style="margin-top:-1px">
		<p style="margin-bottom: -1px; padding-left: 5px">Location: {{city}},{{state}}</p>
		<p style="margin-bottom: -1px; padding-left: 5px">Position: {{position}}</p>
		<p style="margin-bottom: -1px; padding-left: 5px">Job Description: {{description}}</p>
	</div>
	<div class="card-footer p-1">
      <small class="text-muted">Date Needed: {{date}}</small>
    </div>
</div>
</a>