<!-- To Do: 
    Sprint 2:
    - Changed clinic Location to clinic details to present the one and only clinic represented by the employer account. Please present details using hbs
    - Changed Software proficiency in optional filters to checkbox, please use this instead!
-->

<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    form label {
        font-weight: bold;
    }

    textarea {
        resize: none;
    }
</style>
<p class="h1 shrink" style="font-size: 70px; text-align: center; color: #8455ca; margin-top: 4rem;">
    Post Job
    <i class="fas fa-tooth"></i>
</p>
<!-- OWNER INFORMATION -->
<form action="/create" method="POST">

    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Placement</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">What kind of job are you offering?</p>
                <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn w-100 btn-secondary active">
                <i class="fas fa-user" style="font-size: 42px"></i> <br>
                <input type="radio" name="placement" id="Permanent" value="Permanent" {{check "Permanent" input.placement "Permanent"}}>Permanent
              </label>
              <label class="btn w-100 btn-secondary">
                <i class="fas fa-user-nurse" style="font-size: 42px"></i> <br>
                <input type="radio" name="placement" id="Temporary" value="Temporary" {{check "Temporary" input.placement "Permanent"}}>Temporary
            </div>
        </div>
    </div>

    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
        <div class="card-title" style="font-size: 42px;">Position</div>
        <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Who are you looking to hire?</p>
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <label class="btn w-100 btn-secondary active">
            <i class="fas fa-user" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="frontdesk" value="Front Desk" {{check "Front Desk" input.position "Front Desk"}}> Front Desk
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-nurse" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="dentalass" value="Dental Assistant" {{check "Dental Assistant" input.position "Front Desk"}}> Dental Assistant
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-ninja" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="dentalhyg" value="Dental Hygienist" {{check "Dental Hygienist" input.position "Front Desk"}}> Dental Hygienist
          </label>
          <label class="btn w-100 btn-secondary">
            <i class="fas fa-user-md" style="font-size: 42px"></i> <br>
            <input type="radio" name="position" id="dental" value="Dentist" {{check "Dentist" input.position "Front Desk"}}> Dentist
          </label>
        </div>
            </div>
    </div>
    <!-- CLINIC LOCATION -->
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Clinic Details</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Please confirm the following location details for your job.</p>
            <div class="card-text" style="margin-bottom: -20px; border: 1px solid rgb(173, 169, 169); padding-left: 10px;">
                <p class="h3" style="margin-top: 14px"> {{emp.clinicName}} </p>
                <p class="mb-0"> Clinic Address: {{emp.clinicAddress.houseNo}} {{emp.clinicAddress.street}}</p>
                <p> Location: {{emp.clinicAddress.city}}, {{emp.clinicAddress.state}}</p>
                <!--
                <label for="inputGroupSelect04">Clinic</label>
                <div class="input-group">
                    <select class="custom-select" id="clinic" name="clinic" aria-label="Example select with button addon">
                        <option value="Main Clinic" selected>Main Clinic</option>
                    </select>
                </div>
                -->
            </div>
            <br>
            <label for="example-datetime-local-input" style="margin-top: 10px">Date Needed</label>
            <input class="form-control" type="date" id="date" name="date" required>
            <p style="color: red; margin-top: 3px">{{dateError}}</p>
        </div>
    </div>

    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Job Details</div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Write a quick description about this job</p>
            <div class="card-text">
                <label>Job Description</label><br />
                <textarea class="w-100 border" id="jobdescription" name="jobdescription" style="height: 8em;" required>{{input.jobdescription}}</textarea>
        </div>
    </div>
</div>
    <!-- CLINIC CONTACT -->
    <div class="card shadow-sm border mx-auto" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Optional Filters</div>
            <div class="card-title">
                            <label for="clinic_con_name">Software Proficiency</label>
                            <div class="container ">
                                <div class="form-check col w-100" >
                                  <input class="form-check-input" type="checkbox" value="Dentrix" id="defaultCheck1" name="software" {{checkbox "Dentrix" input.programs}}>
                                  <label class="col form-check-label" for="defaultCheck1">
                                    Dentrix
                                  </label>
                                </div>

                                <div class="form-check col w-100" >
                                  <input class="form-check-input" type="checkbox" value="Easy Dental" id="defaultCheck1" name="software" {{checkbox "Easy Dental" input.programs}}>
                                  <label class="col form-check-label" for="defaultCheck1">
                                    Easy Dental
                                  </label>
                                </div>

                                <div class="form-check col w-100">
                                  <input class="form-check-input" type="checkbox" value="Eaglesoft" id="defaultCheck1" name="software" {{checkbox "Eaglesoft" input.programs}}>
                                  <label class="col form-check-label" for="defaultCheck1">
                                    Eaglesoft
                                  </label>
                                </div>

                                <div class="form-check col w-100">
                                  <input class="form-check-input" type="checkbox" value="Open Dental" id="defaultCheck1" name="software" {{checkbox "Open Dental" input.programs}}>
                                  <label class="col form-check-label" for="defaultCheck1">
                                    Open Dental
                                  </label>
                                </div>
                            </div>
                            <!--
                            <input type="text" class="form-control" id="software" name="software" aria-describedby="emailHelp" placeholder="List down your needed softwares..." value="{{input.software}}"/>
                            -->
                           <br>
                <div class="card-text">
                <label for="inputGroupSelect04">Experience</label>
                <div class="input-group">
                  <select class="custom-select" id="experience" name="experience" aria-label="Example select with button addon">
                    <option value="Less than a Year"  {{select "Less than a Year" input.experience}}>Less than a Year</option>
                    <option value="1 Year" {{select "1 Year" input.experience}}>1 Year</option>
                    <option value="More than a Year" {{select "More than a Year" input.experience}}>More than a Year </option>
                    <option value="5 Years or More" {{select "5 Years or More" input.experience}}>5 Years or More</option>
                  </select>
                </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" id="save_button" style="background-color: #8455ca; font-weight: 800">Post</button>
        </div>
    </div>
    </div>
</form>
