<script type="text/javascript">
    localStorage.permanent = false;
    localStorage.temporary = false;
</script>

<style>
    body {
        background-color: rgb(245, 245, 245);
    }
    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-sm-3 p-1">
            <div class="card shadow-sm mx-auto profile-length border" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{profileData.clinicName}} 
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow icon-color">&nbsp;</i> {{profileData.clinicAddress.city}}, {{profileData.clinicAddress.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope icon-color">&nbsp;</i> {{profileData.clinicContactEmails.[0]}}</span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone icon-color">&nbsp;</i> {{profileData.clinicPhone}} </span>
                    <br />
                    <br />
                    <li><a href="" data-toggle="modal" data-target="#modalEdit">Edit Profile</a></li>
                </div>
            </div>

            <br />

            <div class="card border border-primary shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{temp}}
                        <span style="font-size: 15px;">Temporary Job Posts</span>
                    </span>
                    <hr />
                    <a href="/feed-emp?placement=Temporary" onclick="localStorage.temporary = true" class="btn btn-primary w-100" style="text-align: left;">View Temporary Job Posts</a>
                </div>
            </div>

            <div class="card border border-success shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{perma}}
                        <span style="font-size: 15px;">Permanent Job Posts</span>
                    </span>
                    <hr />
                    <a href="/feed-emp?placement=Permanent" onclick="localStorage.permanent = true" class="btn btn-success w-100" style="text-align: left;">View Permanent Job Posts</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9 p-1">
            <div class="card shadow-sm mx-auto profile-length p-0 border">
                <div class="card-body">
                    <div class="card-title" style="font-size: 42px; font-weight: 800;">Dashboard</div>
                    <hr />
                    <div class="container">
                        <h2>Your Active Job Posts</h2>
                        <a type="button" class="btn btn-primary w-100 mb-2" href="/create/{{profileData._id}}"> <i class="fas fa-plus-circle"></i> Create New</a>
                        {{#each activeJob}}
                            {{> jobItem}}
                        {{/each}}

                        <a href="/feed-emp">View Your Active Jobs</a>

                        <hr />

                        <h2>Search For Employees</h2>
                        <small>Browse and filter a list of our website's applicants</small>
                        <a href="/search/applicants" class="btn btn-primary w-100"><i class="fas fa-search"></i> Search</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade border" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{profileData.clinicName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label>Clinic Name</label>
            <input type="" value="{{profileData.clinicName}}" class="form-control" id="" aria-describedby="" placeholder="{{profileData.clinicName}}">
          </div>

          <div class="card-text">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label for="clinic_street">Clinic Street Address<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_street" name="clinic_street"
                                aria-describedby="emailHelp" placeholder="Street Address"
                                value="{{profileData.clinicAddress.street}}" />
                            <p style="color: red;">{{details.clinic_streetError}}</p>
                        </div>
                        <div class="col-4">
                            <label for="clinic_no">No.<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_no" name="clinic_no"
                                aria-describedby="emailHelp" placeholder="No." value="{{profileData.clinicAddress.houseNo}}" />
                            <p style="color: red;">{{details.clinic_noError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="clinic_state">State<span class="text-danger"> *</span></label>
                            <select name="clinic_state" class="form-control" id="clinic_state"
                                onchange="populateCities(this.value, 'clinic_city')">
                                <option value="{{profileData.clinicAddress.state}}">{{profileData.clinicAddress.state}}</option>
                                {{#each states}}
                                <option value="{{this}}" {{select this ../inputs.clinic_state}}>{{this}}</option>
                                {{/each}}
                            </select>
                            <p style="color: red;">{{details.clinic_stateError}}</p>
                        </div>
                        <div class="col-4">
                            <label for="clinic_city">City<span class="text-danger"> *</span></label>
                            <select name="clinic_city" class="form-control" id="clinic_city">
                                <option value="{{profileData.clinicAddress.city}}">{{profileData.clinicAddress.city}}</option>
                                {{#each cities}}
                                <option value="{{this}}" {{select this ../inputs.clinic_city}}>{{this}}</option>
                                {{/each}}
                            </select>
                            <p style="color: red;">{{details.clinic_cityError}}</p>
                        </div>
                        <div class="col-2">
                            <label for="clinic_zip">Zip<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_zip" name="clinic_zip"
                                aria-describedby="emailHelp" placeholder="Zip" value="{{profileData.clinicAddress.zip}}" />
                            <p style="color: red;">{{details.clinic_zipError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="clinic_phone">Clinic Phone<span class="text-danger"> *</span></label>
                    <input type="text" class="form-control" id="clinic_phone" name="clinic_phone"
                        placeholder="(555) 555-1234" value="{{profileData.phone}}" />
                    <p style="color: red;">{{details.clinic_phoneError}}</p>
                </div>
            </div>
        </form>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard Changes</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
