<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-sm-3 p-1">
            <div class="card shadow-sm mx-auto profile-length" style="width: 100%;">
                <img src="/avatars/{{avatar_found profileData.avatar}}" style="width: inherit;" />
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{profileData.fName}} {{profileData.lName}}
                        <br />
                        <span style="font-size: 22px;">{{profileData.position}}</span>
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow"
                            style="color: #8455ca;">&nbsp;</i> {{profileData.city}}, {{profileData.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope"
                            style="color: #8455ca;">&nbsp;</i> {{profileData.account.accEmail}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone"
                            style="color: #8455ca;">&nbsp;</i> {{profileData.phone}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-business-time"
                            style="color: #8455ca;">&nbsp;</i> {{profileData.placement}} </span>
                    <br />
                    <br />
                    <li><a href="" data-toggle="modal" data-target="#modalEdit">Edit Profile</a></li>
                </div>
            </div>

            <br />

            <div class="card border shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{matching_jobs_count}}
                        <span style="font-size: 15px;">Matching Jobs Near You</span>
                    </span>
                    <hr />
                    <a href="{{search_job_route}}" class="btn btn-primary w-100">Search Jobs</a>
                </div>
            </div>
            <div class="card border shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{applied_jobs_count}}
                        <span style="font-size: 15px;">Jobs Applied</span>
                    </span>
                    <hr />
                    <a href="#" class="btn btn-info w-100" style="text-align: left;">100% Response Rate</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9 p-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow-sm mx-auto profile-length" style="height: 100%;">
                            <div class="card-body">
                                <div class="card-title" style="font-size: 42px; font-weight: 800;">Dashboard</div>

                                <div class="container">
                                    <hr />
                                    <div class="row m-0">
                                        <div class="col border m-1 card p-1 shadow-sm">
                                            <span class="card-text my-auto">
                                                <b>2 Employer Hire Requests</b> <br />
                                                <small><a href="#">View Requests</a></small>
                                            </span>
                                        </div>
                                        <div class="col border m-1 card p-1 shadow-sm">
                                            <span class="card-text my-auto">
                                                <b>2 Employer Contact Requests</b> <br />
                                                <small><a href="#">View Requests</a></small>
                                            </span>
                                        </div>
                                        {{#ifEquals profileData.placement "Temporary Work"}}
                                        <div class="col border m-1 card p-1 shadow-sm">
                                            <span class="card-text my-auto">
                                                Hourly Wage <br />
                                                <b>$ {{profileData.rate}} / hour</b> <br />
                                                <small><a href="#">Update</a></small>
                                            </span>
                                        </div>
                                        {{/ifEquals}}
                                    </div>

                                    <hr />
                                    <h2>Description</h2>
                                    <p>{{profileData.profile}}</p>
                                    <a href="" data-toggle="modal" data-target="#modalEditDesc">Edit Description</a>
                                    <hr />

                                    <h2>Matching Jobs For You</h2>
                                    {{#each matching_jobs}}
                                    {{>jobItem}}
                                    {{/each}}
                                    <a href="/feed-app">View All Jobs</a>

                                    <hr />
                                    <h2>Active Applied Jobs</h2>
                                    {{#each applied_jobs}}
                                    {{>jobItem}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade border" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Edit Profile</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="card-text">
                <div class="form-group">
                    <div class="row">
                        <div class="col pr-2">
                            <label for="fname">First Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="fname" name="fname" aria-describedby="emailHelp"
                                placeholder="First Name" value="{{profileData.fName}}" />
                            <p style="color: red;">
                                {{details.fnameError}}
                            </p>
                        </div>
                        <div class="col pl-2">
                            <label for="lname">Last Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="lname" name="lname" aria-describedby="emailHelp"
                                placeholder="Last Name" value="{{profileData.lName}}" />
                            <p style="color: red;">
                                {{details.lnameError}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8 pr-2" style="margin-top: 15px;">
                                <label for="streetaddress">Street Address<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                                    aria-describedby="emailHelp" placeholder="Street Address"
                                    value="{{profileData.streetAdd}}" />
                                <p style="color: red;">
                                    {{details.streetAddError}}
                                </p>
                            </div>
                            <div class="col-4 pl-2" style="margin-top: 15px;">
                                <label for="house">House No.<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="house" name="house"
                                    aria-describedby="emailHelp" placeholder="House No." value="{{profileData.houseNo}}" />
                                <p style="color: red;">
                                    {{details.houseError}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6 pr-1">
                                <label for="state">State<span class="text-danger"> *</span></label>
                                <select name="state" class="form-control" id="state"
                                    onchange="populateCities(this.value, 'city')">
                                    <option value="">{{profileData.state}}</option>
                                    {{#each states}}
                                    <option value="{{this}}" {{select this ../input.state}}>{{this}}</option>
                                    {{/each}}
                                </select>

                                <p style="color: red;">
                                    {{details.stateError}}
                                </p>
                            </div>
                            <div class="col-4 pl-1 pr-1">
                                <label for="city">City<span class="text-danger"> *</span></label>
                                <select name="city" class="form-control" id="city">
                                    <option value="">{{profileData.city}}</option>
                                    {{#each cities}}
                                    <option value="{{this}}" {{select this ../input.city}}>{{this}}</option>
                                    {{/each}}
                                </select>

                                <p style="color: red;">
                                    {{details.cityError}}
                                </p>
                            </div>
                            <div class="col-2 pl-1">
                                <label for="zip">Zip<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="zip" name="zip" aria-describedby="emailHelp"
                                    placeholder="Zip" value="{{profileData.zip}}" />
                                <p style="color: red;">
                                    {{details.zipError}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="(555) 555-1234"
                            value="{{profileData.phone}}" />
                        <p style="color: red;">
                            {{details.phoneError}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-text">
                <label>Position<span class="text-danger"> *</span></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="exampleRadios1" value="Front Desk"
                        {{check "Front Desk" input.position "Front Desk"}} />
                    <p style="margin-bottom: -3px;">Front Desk</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="exampleRadios2"
                        value="Dental Assistant" {{check "Dental Assistant" input.position "Front Desk"}} />
                    <p style="margin-bottom: -3px;">Dental Assistant</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="exampleRadios3"
                        value="Dental Hygienist" {{check "Dental Hygienist" input.position "Front Desk"}} />
                    <p style="margin-bottom: -3px;">Dental Hygienist</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="exampleRadios3" value="Dentist"
                        {{check "Dentist" input.position "Front Desk"}} />
                    <p style="margin-bottom: -3px;">Dentist</p>
                </div>
                <hr>
                <label>Placement<span class="text-danger"> *</span></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="placement" id="placement" value="Permanent Work"
                        {{check "Permanent Work" input.placement "Permanent Work"}} />
                    <p style="margin-bottom: -3px;">Permanent Work</p>
                </div>
                <div class="form-check">
                    <label style="font-weight: 10; color: rgb(97, 95, 95);">Temporary Work</label>
                    <input class="form-check-input" type="radio" name="placement" id="placement" value="Temporary Work"
                        style="margin-left: -138.3px;" {{check "Temporary Work" input.placement "Permanent Work"}} />
                    <div class="col-5 temp showrate" style="margin-left: -35px; margin-top: -5px;">
                        <label for="payrate">Desired pay rate per hour?<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="payrate" name="payrate" placeholder="$/hr..."
                            value="{{profileData.payrate}}" style="margin-bottom: 10px;" />
                        <p style="color: red;">
                            {{details.payrateError}}
                        </p>
                    </div>
                </div>
            </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard Changes</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade border" id="modalEditDesc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control mt-1" id="exampleFormControlTextarea1" rows="6">{{profileData.profile}}</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Description</button>
      </div>
    </div>
  </div>
</div>