<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }

    input[type="radio"]+.temp {
        display: none;
    }

    input[type="radio"]:checked+.showrate {
        display: block;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-sm-3 p-1">
            <div class="card shadow-sm mx-auto profile-length">
                <img src="/avatars/{{avatar_found profileData.avatar}}"
                    style="object-fit: cover; width: auto; height: 256px; position: relative;" />
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{profileData.fName}} {{profileData.lName}}
                        <br />
                        <span style="font-size: 22px;">{{profileData.position}}</span>
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;" id="city-state"> <i
                            class="fas fa-location-arrow icon-color">&nbsp;</i> {{profileData.city}},
                        {{profileData.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope icon-color">&nbsp;</i>
                        {{profileData.account.accEmail}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone icon-color">&nbsp;</i>
                        {{profileData.phone}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i
                            class="fas fa-business-time icon-color">&nbsp;</i> {{profileData.placement}} </span>
                    <br />
                    <br />
                    <li><a href="" data-toggle="modal" data-target="#modalEdit">Edit Profile</a></li>
                </div>
            </div>

            <br />

            <div class="card border shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{matching_jobs_count}}
                        <span style="font-size: 15px;">Matching Jobs Near You</span>
                    </span>
                    <hr />
                    <a href="{{search_job_route}}" class="btn btn-primary w-100">Search Jobs</a>
                </div>
            </div>
            <div class="card border shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{applied_jobs_count}}
                        <span style="font-size: 15px;">Jobs Applied</span>
                    </span>
                    <hr />
                    <a href="#" class="btn btn-info w-100" style="text-align: left;">100% Response Rate</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9 p-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow-sm mx-auto profile-length" style="height: 100%;">
                            <div class="card-body">
                                <div class="card-title" style="font-size: 42px; font-weight: 800;">Dashboard</div>

                                <div class="container">
                                    <hr />
                                    <div class="row m-0">
                                        <div class="col border m-1 card p-1 shadow-sm">
                                            <span class="card-text my-auto">
                                                <b>2 Employer Hire Requests</b> <br />
                                                <small><a href="#">View Requests</a></small>
                                            </span>
                                        </div>
                                        <div class="col border m-1 card p-1 shadow-sm">
                                            <span class="card-text my-auto">
                                                <b>2 Employer Contact Requests</b> <br />
                                                <small><a href="#">View Requests</a></small>
                                            </span>
                                        </div>
                                        {{#ifEquals profileData.placement "Temporary Work"}}
                                        <div class="col border m-1 card p-1 shadow-sm">
                                            <span class="card-text my-auto">
                                                Hourly Wage <br />
                                                <b>$ {{profileData.rate}} / hour</b> <br />
                                                <small><a href="#">Update</a></small>
                                            </span>
                                        </div>
                                        {{/ifEquals}}
                                    </div>

                                    <hr />
                                    <h2>Description</h2>
                                    <p id="profile-text">{{profileData.profile}}</p>
                                    <a href="" data-toggle="modal" data-target="#modalEditDesc">Edit Description</a>
                                    <hr />

                                    <h2>Matching Jobs For You</h2>
                                    {{#each matching_jobs}}
                                    {{>jobItem}}
                                    {{/each}}
                                    <a href="/feed-app">View All Jobs</a>

                                    <hr />
                                    <h2>Active Applied Jobs</h2>
                                    {{#each applied_jobs}}
                                    {{>jobItem}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade border" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">Edit Profile</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="error-container" style="display: none;">
                </div>
                <div id="container-edit-profile"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard Changes</button>
                <button type="submit" class="btn btn-primary" form="form-edit-profile">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade border" id="modalEditDesc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-edit-description" action="/dashboard/applicant/{{profileData._id}}/edit-description">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control mt-1" name="profile" rows="6">{{profileData.profile}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Description</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/dropdown-populator.js"></script>
<script>
    // --------EDIT DESCRIPTION--------
    // disable submit when textarea is empty
    $('#form-edit-description textarea').on('keyup', e => {
        var input = e.delegateTarget.value.trim();
        var $submit = $('#form-edit-description button[type=submit]');
        $submit.attr('disabled', (!input));
    });

    // onclick of edit description, copy innerHTML of description to textarea
    $('a[data-target="#modalEditDesc"]').on('click', e => {
        var profileText = $('#profile-text').html();

        $('#form-edit-description textarea').val(profileText);

        // disable submit if input is empty
        var input = $('#form-edit-description textarea').val().trim();
        var $submit = $('#form-edit-description button[type=submit]');
        $submit.attr('disabled', (!input));
    });

    // AJAX post
    $('#form-edit-description').on('submit', e => {
        e.preventDefault();

        var action = $('#form-edit-description').attr('action');
        var $inputs = $('#form-edit-description :input:not(button)');
        var values = {};
        $inputs.each((i, elem) => values[elem.name] = elem.value);

        $.post(action, values, (data, status) => {
            if (status === 'success') {
                // dismiss modal on save
                $('#modalEditDesc').modal('toggle');

                // update description in DOM
                $('#profile-text').html(data.profile);

            }

        });
    });
    // --------EDIT DESCRIPTION--------

    // --------EDIT PROFILE--------

    $(`a[data-target='#modalEdit']`).on('click', e => {
        // reset error-container
        $('#error-container').text('').css('display', 'none');
        var action = `/dashboard/applicant/data`;
        $.get(action, (data, status) => {
            if (status === 'success') {
                $('#container-edit-profile').html(data);

                // initialize state and city dropdowns
                initStatesAndCities();

                // onsubmit listener that validates inputs via AJAX
                $('#form-edit-profile').on('submit', e => {
                    e.preventDefault();

                    var action = $('#form-edit-profile').attr('action');
                    var $inputs = $('#form-edit-profile :input:not(button):not(input[type=radio])');
                    var values = {};
                    $inputs.each((i, elem) => {
                        values[$(elem).attr('name')] = $(elem).val();
                    });

                    // get radio button inputs separately
                    $('#form-edit-profile :input[type=radio]:checked').each(
                        (i, elem) => values[$(elem).attr('name')] = $(elem).val()
                    )


                    $.post(action, values, (data, status) => {
                        if (status === 'success') {

                            if (data.map) {
                                var $ul = $('<ul/>').css('margin-bottom', 0);
                                var $lis = data.map(msg => $('<li/>').text(msg));
                                $ul.append($lis)
                                $('#error-container').html($ul).css('display', 'block');

                                $('#modalEdit .modal-body').scrollTop(0);
                            } else {
                                console.log('ok');
                                $('#error-container').text('').css('display', 'none');

                                // dismiss modal on save
                                $('#modalEdit').modal('toggle');

                                // refresh page
                                location.reload();
                            }

                        } else {
                            console.log('error');
                            console.log(data);
                        }
                    });
                })
            } else {
                console.log(data);
            }
        })
    })


    function initStatesAndCities() {
        const [defaultCity, defaultState] = $('#city-state').text().split(',').map(v => v.trim());

        var $state = $('#form-edit-profile #state');
        var $city = $('#form-edit-profile #city');

        $.get('/states', (data, status) => {
            if (status === 'success') {
                $state.append($('<option/>', { value: '', html: '--Select a state--' }));
                for (const state of data) {
                    $state.append($('<option/>', { value: state, html: state, selected: defaultState === state }));
                }

            } else {
                console.log('error while getting states');
            }
        })

        $.get(`/cities?state=${defaultState}`, (data, status) => {
            if (status === 'success') {
                $city.append($('<option/>', { value: '', html: '--Select a city--' }));
                for (const city of data) {
                    $city.append($('<option/>', { value: city, html: city, selected: defaultCity === city }));
                }

            }
            else {
                console.log('error while getting cities');
            }
        })
    }

    // --------EDIT PROFILE--------
</script>