<script type="text/javascript">
    localStorage.permanent = false;
    localStorage.temporary = false;
</script>

<style>
    body {
        background-color: rgb(245, 245, 245);
    }
    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card shadow-sm mx-auto profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{profileData.clinicName}} 
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow" style="color: #8455ca;">&nbsp;</i> {{profileData.clinicAddress.city}}, {{profileData.clinicAddress.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope" style="color: #8455ca;">&nbsp;</i> {{profileData.clinicContactEmails.[0]}}</span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone" style="color: #8455ca;">&nbsp;</i> {{profileData.clinicPhone}} </span>
                    <br />
                    <br />
                    <a href="#">Edit Profile</a>
                </div>
            </div>

            <br />

            <div class="card border border-primary shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        4
                        <span style="font-size: 15px;">Temporary Job Posts</span>
                    </span>
                    <hr />
                    <a href="/feed-emp?placement=Temporary" onclick="localStorage.temporary = true" class="btn btn-primary w-100" style="text-align: left;">View Temporary Job Posts</a>
                </div>
            </div>

            <div class="card border border-success shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        2
                        <span style="font-size: 15px;">Permanent Job Posts</span>
                    </span>
                    <hr />
                    <a href="/feed-emp?placement=Permanent" onclick="localStorage.permanent = true" class="btn btn-success w-100" style="text-align: left;">View Permanent Job Posts</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="card shadow-sm mx-auto profile-length">
                <div class="card-body">
                    <div class="card-title" style="font-size: 42px; font-weight: 800;">Dashboard</div>
                    <hr />
                    <div class="container">
                        <h2>Your Active Job Posts</h2>
                        <a href="/create">+ Create New</a>

                        {{#each activeJob}}
                            {{> jobItem}}
                        {{/each}}
                        
                        <a href="/feed-emp">View All Jobs</a>

                        <hr />

                        <h2>Search For Employees</h2>
                        <small>Browse and filter a list of our website's applicants</small>
                        <a href="#" class="btn btn-primary w-100">Search</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
