<style>
    body {
        background-color: rgb(245, 245, 245);
    }
    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-sm-3 p-1">
            <div class="card shadow-sm mx-auto profile-length" style="width: 100%;">
                <img src="/avatars/{{avatar_found profileData.avatar}}" style="width: inherit;" />
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{profileData.fName}} {{profileData.lName}}
                        <br />
                        <span style="font-size: 22px;">{{profileData.position}}</span>
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow" style="color: #8455ca;">&nbsp;</i> {{profileData.city}}, {{profileData.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope" style="color: #8455ca;">&nbsp;</i> {{profileData.account.accEmail}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone" style="color: #8455ca;">&nbsp;</i> {{profileData.phone}} </span>
                    <br />
                    <br />
                    <a href="#">Edit Profile</a>
                </div>
            </div>

            <br />

            <div class="card border shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{job_match_count}}
                        <span style="font-size: 15px;">Matching Jobs Near You</span>
                    </span>
                    <hr />
                    <a href="{{search_job_route}}" class="btn btn-primary w-100">Search Jobs</a>
                </div>
            </div>
            <div class="card border shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        12
                        <span style="font-size: 15px;">Jobs Applied</span>
                    </span>
                    <hr />
                    <a href="#" class="btn btn-info w-100" style="text-align: left;">100% Response Rate</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9 p-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow-sm mx-auto profile-length" style="height: 100%;">
                            <div class="card-body">
                                <div class="card-title" style="font-size: 42px; font-weight: 800;">Dashboard</div>
                                <hr />
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <span class="card-text">
                                                Temporary Availability <br />
                                                <b>M</b> <b>W</b> Tu <b>Th</b> F Sa <b>Su</b>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <span class="card-text"> Permanent Availability <br /> </span>
                                        </div>
                                        <div class="col">
                                            <span class="card-text">
                                                Hourly Wage <br />
                                                <b>{{profileData.rate}} / hour</b> <br />
                                                <small><a href="#">Update</a></small>
                                            </span>
                                        </div>
                                    </div>

                                    <h2>Matching Jobs For You</h2>
                                    {{#each matching_jobs}}
                                    {{>jobItem}}
                                    {{/each}}
                                    <a href="/feed-app">View All Jobs</a>

                                    <hr />
                                    <h2>Active Applied Jobs</h2>
                                    {{>jobItem}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
