<script type="text/javascript">
    localStorage.permanent = false;
    localStorage.temporary = false;
</script>

<style>
    body {
        background-color: rgb(245, 245, 245);
    }
    .rectangle {
        padding: 5px;
        height: auto;
        display: inline-block;

        background-color: #8fc81f;
        color: white;

        font-size: 12px;
        font-weight: bold;

        border-radius: 5px;
        text-align: center;
    }

    .error {
        color: red;
        font-size: 15px;
        
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 6rem;">
    <div class="row">
        <div class="col-sm-3 p-1">
            <div class="card shadow-sm mx-auto profile-length border" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{profileData.clinicName}} 
                    </span>
                    <hr />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow icon-color">&nbsp;</i> {{profileData.clinicAddress.city}}, {{profileData.clinicAddress.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope icon-color">&nbsp;</i> {{profileData.clinicContactEmails.[0]}}</span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone icon-color">&nbsp;</i> {{profileData.clinicPhone}} </span>
                    <br />
                  
                    <hr />
                    <i class="fas fa-user-edit icon-color"></i><a href="" data-toggle="modal" data-target="#modalEdit" style="margin-left: 10px;">Edit Clinic Profile</a>
                </div>
            </div>

            <br />

            <div class="card border border-primary shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{temp}}
                        <span style="font-size: 15px;">Temporary Job Posts</span>
                    </span>
                    <hr />
                    <a href="/feed-emp?placement=Temporary" onclick="localStorage.temporary = true" class="btn btn-primary w-100" style="text-align: left;">View Temporary Job Posts</a>
                </div>
            </div>

            <div class="card border border-success shadow-sm mx-auto mb-4 profile-length" style="width: 100%;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left; font-size: 32px;">
                        {{perma}}
                        <span style="font-size: 15px;">Permanent Job Posts</span>
                    </span>
                    <hr />
                    <a href="/feed-emp?placement=Permanent" onclick="localStorage.permanent = true" class="btn btn-success w-100" style="text-align: left;">View Permanent Job Posts</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9 p-1">
            <div class="card shadow-sm mx-auto profile-length p-0 border">
                <div class="card-body">
                    <div class="card-title" style="font-size: 42px; font-weight: 800;">Dashboard</div>
                    <hr />
                    <div class="container">
                        <h2>Your Active Job Posts</h2>
                        {{#match status 'Verified'}}
                            <button type="button" class="btn btn-primary w-100 mb-2" href="/create/{{profileData._id}}"> <i class="fas fa-plus-circle"></i> Create New</button> 
                        {{/match}}
                        {{#match status 'Unverified'}}
                            <span tabindex="0" data-toggle="tooltip" data-placement="right" title="This feature is not available as your account is still waiting to be verified by the admin.">
                                <button type="button" class="btn btn-primary w-100 mb-2" href="/create/{{profileData._id}}" disabled> <i class="fas fa-plus-circle"></i> Create New</button>
                            </span>
                        {{/match}}

                        {{#each activeJob}}
                            {{> jobItem app_count = this.applicants.length accType = ../accType}}
                        {{/each}}

                        <a href="/feed-emp">View Your Active Jobs</a>

                        <hr />

                        <h2>Search For Employees</h2>
                        <small>Browse and filter a list of our website's applicants</small>
                        {{#match status 'Verified'}}
                            <button href="/search/applicants" class="btn btn-primary w-100"><i class="fas fa-search"></i> Search</button>
                        {{/match}}
                        {{#match status 'Unverified'}}
                            <span tabindex="0" data-toggle="tooltip" data-placement="right" title="This feature is not available as your account is still waiting to be verified by the admin.">
                                <button href="/search/applicants" class="btn btn-primary w-100" disabled><i class="fas fa-search"></i> Search</button>
                            </span>
                        {{/match}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade border" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">{{profileData.clinicName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- use method="post" to send your form to server -->
        <form class="form-horizontal" id="clinicProfile" method="post" action="/updateClinicProfile">

            <div class="form-group">
                <label for="clinic_email">Email/s<span class="text-danger"> *</span><span><small style="margin-left: 5px;">(Separate email addresses with a comma)</small></span></label>
                <div class="col-xs-5">  
                    <input type="text" class="form-control" id="clinic_email" name="clinic_email" placeholder="{{profileData.clinicContactEmails.[0]}}" required/>
                </div>
                
                <div class="col-sm-7"></div>
            </div>

            <div class="form-group">
                <label for="clinic_phone">Clinic Phone<span class="text-danger"> *</span></label>
                <div class="col-xs-5">  
                    <input type="text" class="form-control" id="clinic_phone" name="clinic_phone" placeholder="{{profileData.phone}}" required/>
                </div>
                <div class="col-sm-7"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Discard Changes</button>
                <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
