<!-- 
    Todo:
    Add download link to resume.
-->

<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    .title {
        font-size: 42px;
    }

    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<div class="container mb-4 p-0" style="margin-top: 5em;">

    <div class="row mb-2">
        <div class="card w-100 border m-0 p-2 ">
            <span class="title"> {{appData.fName}} {{appData.lName}}</b> </span>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-sm-9 pl-0 pr-1">
            <div class="card border m-0 p-2 shadow-sm">
                <p class="h3">Description</p>
                <p class="description">{{appData.profile}}</p>

                <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal"
                    style="background-color: #8455ca;">{{#match from 'jobs'}}Send Hire Request{{/match}}{{#match from 'search'}}Send Contact Request{{/match}}</button>
            </div>

            <hr>

            <div class="card border m-0 mt-4 p-2 shadow-sm">
                <div class="row flex-row">
                     <div class="col">
                        <b>Placement Type</b> <br>
                        <small>{{appData.placement}}</small>
                    </div>
                    <div class="col">
                        <b>Position</b> <br>
                        <small>{{appData.position}}</small>
                    </div>
                    <div class="col">
                        <b>Software</b> <br>
                        <small>{{appData.dentalProg}}</small>
                    </div>
                    <div class="col">
                        <b>Experience</b> <br>
                        <small>{{appData.yearExp}} Years of Experience</small>
                    </div>
                    {{#ifEquals appData.placement "Temporary Work"}}
                    <div class="col">
                        <b>Wage</b> <br>
                        <small>$ {{appData.rate}} / hour</small>
                    </div>
                    {{/ifEquals}}
                </div>
            </div>

        </div>

        <div class="col-sm-3 pr-0 pl-1">
            <div class="card border shadow-sm mx-auto profile-length h-100" style="width: 100%;">
                <img src="/avatars/{{avatar_found appData.avatar}}" class="w-100"
                    style="object-fit: cover; height: 246px;">
                <div class="card-body">
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow"
                            style="color: #8455ca;">&nbsp;</i> {{appData.city}}, {{appData.state}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="far fa-envelope"
                            style="color: #8455ca;">&nbsp;</i> {{appData.account.accEmail}} </span>
                    <br />
                    <span class="card-text" style="text-align: left;"> <i class="fas fa-phone"
                            style="color: #8455ca;">&nbsp;</i> {{appData.phone}} </span>
                    <br />
                    <hr>
                     <i class="fas fa-file" style="color: #8455ca; margin-left: 5px;">&nbsp;</i><a href="/getAppResume/{{appData.resume}}" class="card-text" style="text-align: left; margin-left: 10px;">Download Resume </a>
                    <br />
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are about to send a <b>{{#match from 'jobs'}}Hire{{/match}} {{#match from 'search'}}Contact{{/match}} Request</b> to <b>{{appData.fName}}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Attach a Custom Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ex: Hey {{appData.fName}}, we'll set a meeting for you. Respond to this if you're interested. We're usually open from 9-5."></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Confirm {{#match from 'jobs'}}Hire{{/match}} {{#match from 'search'}}Contact{{/match}} Request</button>
      </div>
    </div>
  </div>
</div>