<style>
	body {
		background-color: rgb(245, 245, 245);
	}

	.title {
		font-size: 42px;
	}

	.flex-row {
		display: flex;
		flex-wrap: wrap;
	}
</style>

<div class="container mb-4 p-0" style="margin-top: 5em;">

	<div class="row mb-2">
		<div class="card w-100 border m-0 p-2 ">
			<span class="title"> <b>{{jobData.position}}</b> at <b>{{jobData.employer.clinicName}}</b> </span>
			<small> Posted 7 hours ago by <a href="#">{{jobData.employer.clinicName}}</a></small>
		</div>
	</div>

	<hr>

	<div class="row">

		<div class="col-sm-9 pl-0 pr-1">
			<div class="card border m-0 p-2 shadow-sm">
				<p class="h3">Job Description</p>
				<p class="description">{{jobData.description}}</p>
				<form action="/jobs/{{jobData._id}}" method="post">
					<button type="submit" class="btn btn-primary w-100" style="background-color: #8455ca;"
						{{#if applied}}disabled{{/if}}>Apply</button>
				</form>
			</div>

			<hr>

			<div class="card border m-0 mt-4 p-2 shadow-sm">
				<div class="row flex-row">
					<div class="col">
						<b>Position</b> <br>
						<small>{{jobData.position}}</small>
					</div>
					<div class="col">
						<b>Software</b> <br>
						<small>{{jobData.software}}</small>
					</div>
					<div class="col">
						<b>Experience</b> <br>
						<small>At least {{jobData.experience}} of Experience</small>
					</div>
					<div class="col">
						<b>Date Needed</b> <br>
						<small>{{jobData.date}}</small>
					</div>
				</div>
				<hr>
				<h2>Applicant Details</h2>
				<div id="employers-table"></div>
			</div>
            
		</div>

		<div class="col-sm-3 pr-0 pl-1">
			<div class="card border shadow-sm mx-auto profile-length h-100" style="width: 100%;">
				<div class="card-body">
					<span class="card-text" style="text-align: left; font-size: 32px;">
						{{jobData.employer.clinicName}}
					</span>
					<hr />
					<span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow"
							style="color: #8455ca;">&nbsp;</i> {{jobData.employer.clinicAddress.city}},
						{{jobData.employer.clinicAddress.state}} </span>
					<br />
					<span class="card-text" style="text-align: left;"> <i class="far fa-envelope"
							style="color: #8455ca;">&nbsp;</i> {{jobData.employer.clinicContactEmails.[0]}} </span>
					<br />
					<span class="card-text" style="text-align: left;"> <i class="fas fa-phone"
							style="color: #8455ca;">&nbsp;</i> {{jobData.employer.clinicPhone}} </span>
					<br />
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/adminTables.js"></script>