<style>
	body {
		background-color: rgb(245, 245, 245);
	}

	.title {
		font-size: 42px;
	}

	.flex-row {
		display: flex;
		flex-wrap: wrap;
	}
</style>

<div class="container mb-4 p-0" style="margin-top: 5em;">

	<div class="row mb-2">
		<div class="card w-100 border m-0 p-2 ">
			<span class="title"> <b>{{jobData.position}}</b> at <b>{{jobData.employer.clinicName}}</b> </span>
			<small> Posted {{date}} by <a href="#">{{jobData.employer.clinicName}}</a></small>
		</div>
	</div>

	<hr>

	<div class="row">

		<div class="col-sm-9 pl-0 pr-1">
			<div class="card border m-0 p-2 shadow-sm">
				<p class="h3">Job Description</p>
				<p class="description">{{jobData.description}}</p>
				{{#match accType 'applicant'}}
				<form action="{{url}}" method="POST">
					{{#if applied}}
						{{#if await}}
						<span tabindex="0" data-toggle="tooltip" data-placement="right" title="The employer is currently reviewing your application">
							<button type="submit" style="pointer-events: none;" class="btn btn-primary w-100" disabled>Awaiting Employer Response</button>
						</span>
						{{else}}
						{{#match type 'hire'}}
							<button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#acceptModal">View Accepted Response</button>
						{{/match}}
						{{#match type 'decline'}}
							<button type="button" class="btn btn-danger w-100"  data-toggle="modal" data-target="#declineModal">View Declined Response</button>
						{{/match}}
						{{/if}}
					{{else}}
						<button type="submit" class="btn btn-primary w-100">Apply</button>
					{{/if}}
						<hr>
				</form>
				{{/match}}

				{{#match accType 'employer'}}
				<a href="{{url}}" style="text-decoration: none;">
					<button class="btn btn-primary w-100"><i class="fas fa-list"></i> View Your Applicants</button>
				</a>
				{{/match}}

				
			</div>

		

			<div class="card border m-0 mt-4 p-2 shadow-sm">
				<div class="row flex-row">
					<div class="col">
						<b>Position</b> <br>
						<small>{{jobData.position}}</small>
					</div>
					<div class="col">
						<b>Software</b> <br>
						<small>{{jobData.software}}</small>
					</div>
					<div class="col">
						<b>Experience</b> <br>
						<small>At least {{jobData.experience}} of Experience</small>
					</div>
					{{#ifEquals jobData.placement "Temporary"}}
					<div class="col">
						<b>Date Needed</b> <br>
						<small><b>{{jobData.date_start}}</b> to <b>{{jobData.date_end}}</b></small>
					</div>
					{{/ifEquals}}
				</div>
				<hr>
			</div>

		</div>

		<div class="col-sm-3 pr-0 pl-1">
			<div class="card border shadow-sm mx-auto profile-length h-100" style="width: 100%;">
				<div class="card-body">
					<span class="card-text" style="text-align: left; font-size: 32px;">
						{{jobData.employer.clinicName}}
					</span>
					<hr />
					<span class="card-text" style="text-align: left;"> <i class="fas fa-location-arrow icon-color">&nbsp;</i> {{jobData.employer.clinicAddress.city}},
						{{jobData.employer.clinicAddress.state}} </span>
					<br />
					<span class="card-text" style="text-align: left;"> <i class="far fa-envelope icon-color">&nbsp;</i> {{jobData.employer.clinicContactEmails.[0]}} </span>
					<br />
					<span class="card-text" style="text-align: left;"> <i class="fas fa-phone icon-color">&nbsp;</i> {{jobData.employer.clinicPhone}} </span>
					<br />
				</div>
					{{#match accType 'employer'}}
					
					<a href="#" class="m-2 text-danger text-bottom text-right" data-toggle="modal" data-target="#closeJob"><b>Close Job </b><i class="fas fa-times-circle"></i></a>

					{{/match}}
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade border" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{jobData.employer.clinicName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="h1">{{response.subject}}</p>
        <p> {{response.body}}</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Mark as Read</button>

		<span> <i class="fas fa-location-arrow icon-color"></i> {{jobData.employer.clinicAddress.city}}, {{jobData.employer.clinicAddress.state}} </span>
		<span> <i class="far fa-envelope icon-color"></i> {{jobData.employer.clinicContactEmails.[0]}} </span>
		<span> <i class="fas fa-phone icon-color"></i> {{jobData.employer.clinicPhone}} </span>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="modal fade border" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{jobData.employer.clinicName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<small><b>Reason for declination</b></small>
        <p class="mt-1"> {{response.body}}</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Mark as Read</button>
        
		<span> <i class="fas fa-location-arrow icon-color"></i> {{jobData.employer.clinicAddress.city}}, {{jobData.employer.clinicAddress.state}} </span>
		<span> <i class="far fa-envelope icon-color"></i> {{jobData.employer.clinicContactEmails.[0]}} </span>
		<span> <i class="fas fa-phone icon-color"></i> {{jobData.employer.clinicPhone}} </span>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="closeJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger font-weight-bold" id="empModalTitle">Are you sure you want to close this job?
                <br><small class="text-muted"><i>You cannot undo this action.</i></small></h5>        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <button type="button" style="display: inline-block;" class="w-100 btn btn-danger" data-toggle="modal" data-target="#admin_confirmApprove">Close Job</button>
       <button type="button" style="display: inline-block;" class="mt-2 w-100 btn btn-secondary" data-dismiss="modal">Go Back</button>
   		</div>
    </div>
  </div>
</div>
