<style>
   body {
   background-color: rgb(245, 245, 245);
   }
</style>
<div class="container mb-4 p-0" style="margin-top: 5em; display: flex">
   <div class="col m-0">

      {{#if hire}}
      <p class="h1 gradient-text" style="display: inline-block;">Hire Requests</p>
      {{/if}}
      {{#if contact}}
      <p class="h1 gradient-text" style="display: inline-block;">Contact Requests</p>
      {{/if}}

      <button class="btn dropdown-toggle mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="font-weight-bold" style="color: #4792e9; font-size: 28px;"><i class="fas fa-list-ul"></i> {{combined_req_count}}</span>
      </button>
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="/feed-contact/{{profile_id}}"><b>{{contact_req_count}}</b> Contact Request/s <br><small> Click to see all Contact Requests </small></a>
         <a class="dropdown-item" href="/feed-hire/{{profile_id}}"><b>{{hire_req_count}}</b> Hire Request/s <br><small> Click to see all Hire Requests </small></a>
      </div>

      {{#if hire}}
      	{{#each hire_req}}
      		{{> jobItem}}
      	{{/each}}
      {{/if}}

      {{#if contact}}
      	{{#each contact_req}}
      		{{> contactItem}}
      	{{/each}}
      {{/if}}
   </div>
</div>