<style>
	body {
		background-color: rgb(245, 245, 245);
	}
</style>

<div class="container mb-4 p-0" style="margin-top: 5em; display: flex">

	<div class="col-sm-9 m-0">
		<p class="h1">Job Feed</p>

		{{warn}}
		
		<div id="jobFeed">
			{{#each jobs}}
			{{>jobItem app_count = this.applicants.length accType = ../accType}}
			{{/each}}
		</div>

		{{> feedPagination}}

	</div>

	<div class="col-sm-3 p-0">
		<p class="h1">Filter</p>

		<form method="GET" action="{{filter_route}}">

			<div class="p-3 card border m-0 mb-2">
				<p class="h5"> Placement Type </p>

				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="placement" value="Permanent" id="permanent">
					<label class="form-check-label" for="defaultCheck1">
						Permanent Work
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="placement" value="Temporary" id="temporary">
					<label class="form-check-label" for="defaultCheck1">
						Temporary Work
					</label>
				</div>

			</div>

			<div class="p-3 card border m-0 mb-2">
				<p class="h5"> Position </p>

				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="position" value="Dentist" id="dentist">
					<label class="form-check-label" value="dentist" name="position" for="dentistStatus">
						Dentist
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="position" value="Dental Assistant"
						id="dentass">
					<label class="form-check-label" value="dentass" name="position" for="dentalAssStatus">
						Dental Assistant
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="position" value="Dental Hygienist"
						id="denthyg">
					<label class="form-check-label" value="dentalhyg" name="position" for="dentalHygStatus">
						Dental Hygienist
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" name="position" value="Front Desk" id="frontdesk">
					<label class="form-check-label" name="frontdesk" for="fontDeskStatus">
						Front Desk
					</label>
				</div>

			</div>

			<div class="p-3 card border m-0 mb-2">
				<p class="h5"> Location </p>
                    <small>State</small>
                       	<select name="clinic_state" class="form-control" id="clinic_state" onchange="populateCities(this.value, 'clinic_city')">
							<option value="">All States</option>
                                {{#each states}}
							<option value="{{this}}" {{select this ../inputs.clinic_state}}>{{this}}</option>
                                {{/each}}
						</select>
						<br>
                     <small>City</small>
                       	<select name="clinic_city" class="form-control" id="clinic_city">
                        <option value="">All Cities</option>
                        		{{#each cities}}
                        <option value="{{this}}" {{select this ../inputs.clinic_city}}>{{this}}</option>
                        {{/each}}
                    </select>
			</div>

			<div class="p-3 card border m-0 mb-2">
				<p class="h5 mt-2"> Date Range </p>
				<div class="form-group">
					<small>From</small>
					<input class="form-control" type="date" id="date_start" name="date_start" value="" onchange='saveValue(this);'>
				</div>
				<div class="form-group">
					<small>To</small>
					<input class="form-control" type="date" id="date_end" name="date_end" value="" onchange='saveValue(this);'>
				</div>
			</div>

			<button id="filter" class="btn btn-primary w-100" role="button" type="submit">Filter</button>

		</form>

	</div>
</div>

<script src="/js/dropdown-populator.js"></script>