<style>
    body {
        background-color: rgb(245, 245, 245);
    }

    form label {
        font-weight: bold;
    }

    textarea {
        resize: none;
    }

    #container {
        display: flex;
        justify-content: left;
        height: 250px;
        text-align: center;
        margin-top: -20px;
    }

    .container2 {
        height: auto;
        width: 250px;
        padding-top: 40px;
    }

    .container3 {
        height: auto;
        width: 510px;
        padding-left: 50px;
        padding-top: 70px;
        margin-left: -30px;
    }

    .img-circle {
        width: 150px;
        height: 150px;
        border: 4px solid none;
        border-radius: 50%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    input[type="checkbox"]+label+.showother {
        display: none;
    }

    input[type="checkbox"]:checked+label+.showother {
        display: block;
    }
</style>
<p class="h1 shrink gradient-text" style="font-size: 70px; text-align: center; margin-top: 4rem;">
    BookMeDental
    <i class="fas fa-tooth"></i>
</p>
<!-- OWNER INFORMATION -->
<form class="dirty" id="form" action="/form-emp" method="POST">
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Account Owner Information<span class="text-danger">
                    *</span></div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Tell us about yourself and how we can
                contact you.</p>
            <small class="text-danger">* Required fields</small>
            <div class="card-text">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="fname">First Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="fname" name="fname" aria-describedby="emailHelp"
                                placeholder="First Name" value="{{inputs.fname}}" />
                            <p style="color: red;">{{details.fnameError}}</p>
                        </div>
                        <div class="col">
                            <label for="lname">Last Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="lname" name="lname" aria-describedby="emailHelp"
                                placeholder="Last Name" value="{{inputs.lname}}" />
                            <p style="color: red;">{{details.lnameError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="title">Title<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp"
                                placeholder="Title" value="{{inputs.title}}" />
                            <p style="color: red;">{{details.titleError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="phone">Phone<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp"
                                placeholder="Phone" value="{{inputs.phone}}" />
                            <p style="color: red;">{{details.phoneError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="blname">Business Legal Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="blname" name="blname"
                                aria-describedby="emailHelp" placeholder="Business Legal Name"
                                value="{{inputs.blname}}" />
                            <p style="color: red;">{{details.blnameError}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CLINIC LOCATION -->
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Clinic Location<span class="text-danger"> *</span></div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Tell us about your clinic.</p>
            <div class="card-text">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label for="clinic_street">Clinic Street Address<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_street" name="clinic_street"
                                aria-describedby="emailHelp" placeholder="Street Address"
                                value="{{inputs.clinic_street}}" />
                            <p style="color: red;">{{details.clinic_streetError}}</p>
                        </div>
                        <div class="col-4">
                            <label for="clinic_no">No.<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_no" name="clinic_no"
                                aria-describedby="emailHelp" placeholder="No." value="{{inputs.clinic_no}}" />
                            <p style="color: red;">{{details.clinic_noError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="clinic_state">State<span class="text-danger"> *</span></label>
                            <select name="clinic_state" class="form-control" id="clinic_state"
                                onchange="populateCities(this.value, 'clinic_city')">
                                <option value="">--Select a state--</option>
                                {{#each states}}
                                <option value="{{this}}" {{select this ../inputs.clinic_state}}>{{this}}</option>
                                {{/each}}
                            </select>
                            <p style="color: red;">{{details.clinic_stateError}}</p>
                        </div>
                        <div class="col-4">
                            <label for="clinic_city">City<span class="text-danger"> *</span></label>
                            <select name="clinic_city" class="form-control" id="clinic_city">
                                <option value="">--Select a city--</option>
                                {{#each cities}}
                                <option value="{{this}}" {{select this ../inputs.clinic_city}}>{{this}}</option>
                                {{/each}}
                            </select>
                            <p style="color: red;">{{details.clinic_cityError}}</p>
                        </div>
                        <div class="col-2">
                            <label for="clinic_zip">Zip<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_zip" name="clinic_zip"
                                aria-describedby="emailHelp" placeholder="Zip" value="{{inputs.clinic_zip}}" />
                            <p style="color: red;">{{details.clinic_zipError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="clinic_phone">Clinic Phone<span class="text-danger"> *</span></label>
                    <input type="text" class="form-control" id="clinic_phone" name="clinic_phone"
                        placeholder="(555) 555-1234" value="{{inputs.clinic_phone}}" />
                    <p style="color: red;">{{details.clinic_phoneError}}</p>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <label for="clinic_name">Clinic Name<span class="text-danger"> *</span></label>
                    <input type="text" class="form-control" id="clinic_name" name="clinic_name"
                        placeholder="Clinic Name" value="{{inputs.clinic_name}}" />
                    <p style="color: red;">{{details.clinic_nameError}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- CLINIC CONTACT -->
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Clinic Contact<span class="text-danger"> *</span></div>
            <div class="card-title">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="clinic_con_name">Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_con_name" name="clinic_con_name"
                                aria-describedby="emailHelp" placeholder="Full Name"
                                value="{{inputs.clinic_con_name}}" />
                            <p style="color: red;">{{details.clinic_con_nameError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="clinic_con_title">Title<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_con_title" name="clinic_con_title"
                                aria-describedby="emailHelp" placeholder="Title" value="{{inputs.clinic_con_title}}" />
                            <p style="color: red;">{{details.clinic_con_titleError}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="clinic_con_email">Email/s<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="clinic_con_email" name="clinic_con_email"
                                aria-describedby="emailHelp" placeholder="Email" value="{{inputs.clinic_con_email}}" />
                        </div>
                    </div>
                    <small>Separate email addresses with a comma.</small>
                    <p style="color: red;">{{details.clinic_con_emailError}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ADDITIONAL DETAILS -->
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Additional Details<span class="text-danger"> *</span></div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Anything we need to know about your
                clinic?</p>
            <div class="card-text">

                <div class="form-group" style="margin-top: 10px;">
                    <label>What type of software does this clinic use?<span class="text-danger"> *</span></label>
                    <!--
                    <input type="text" class="form-control" id="clinic_program" name="clinic_program"
                        placeholder="List down any programs..." value="{{inputs.clinic_program}}" />
                    <small>Separate clinic programs with a comma.</small>
                    -->
                    <div class="container ">
                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Dentrix" id="Dentrix"
                                name="clinic_programs" {{checkbox "Dentrix" inputs.clinic_programs}}>
                            <label class="col form-check-label" for="Dentrix">
                                Dentrix
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Easy Dental" id="Easy Dental"
                                name="clinic_programs" {{checkbox "Easy Dental" inputs.clinic_programs}}>
                            <label class="col form-check-label" for="Easy Dental">
                                Easy Dental
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Eaglesoft" id="Eaglesoft"
                                name="clinic_programs" {{checkbox "Eaglesoft" inputs.clinic_programs}}>
                            <label class="col form-check-label" for="Eaglesoft">
                                Eaglesoft
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Open Dental" id="Open Dental"
                                name="clinic_programs" {{checkbox "Open Dental" inputs.clinic_programs}}>
                            <label class="col form-check-label" for="Open Dental">
                                Open Dental
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Other" id="s-other"
                                name="clinic_programs" {{checkbox "Other" inputs.clinic_programs}}>
                            <label class="col form-check-label" for="s-other">
                                Other
                            </label>
                            <div class="col-5 showother" style="margin-top:10px;">
                                <input type="text" class="form-control" id="s-other-text" name="software_other_text"
                                    value="{{inputs.software_other_text}}" style="margin-bottom: 10px;" />
                                <label for="s-other-text"
                                    style="font-style: italic; font-size: 14px; font-weight:normal;">Please separate
                                    programs
                                    with a
                                    comma.</label>
                                <p style="color: red;">{{details.software_other_textError}}</p>
                            </div>
                        </div>
                    </div>

                    <p style="color: red;">{{details.clinic_programsError}}</p>
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    <label>Clinic Specialty<span class="text-danger"> *</span></label>
                    <!--
                    <input type="text" class="form-control" id="clinic_speciality" name="clinic_specialty"
                        placeholder="List down any specialties..." value="{{inputs.clinic_specialty}}" />
                    <small>Separate clinic specialties with a comma.</small>
                    -->

                    <div class=" container">
                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="General Dentistry"
                                id="generaldentistry" name="clinic_specialties"
                                {{checkbox "General Dentistry" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="generaldentistry">
                                General Dentistry
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Endodentistry" id="endodentistry"
                                name="clinic_specialties" {{checkbox "Endodentistry" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="endodentistry">
                                Endodontistry
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Periodontistry" id="periodontistry"
                                name="clinic_specialties" {{checkbox "Periodontistry" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="periodontistry">
                                Periodontistry
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Oral Surgery" id="oralsurgery"
                                name="clinic_specialties" {{checkbox "Oral Surgery" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="oralsurgery">
                                Oral Surgery
                            </label>
                        </div>
                    </div>

                    <div class=" container">
                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Anesthesiology" id="anesthesiology"
                                name="clinic_specialties" {{checkbox "Anesthesiology" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="anesthesiology">
                                Anesthesiology
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Dental Hygiene" id="dentalhygiene"
                                name="clinic_specialties" {{checkbox "Dental Hygiene" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="dentalhygiene">
                                Dental Hygiene
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Clinic Management"
                                id="Clinicmanagement" name="clinic_specialties"
                                {{checkbox "Clinic Management" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="Clinicmanagement">
                                Clinic Management
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Receptionist" id="receptionist"
                                name="clinic_specialties" {{checkbox "Receptionist" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="receptionist">
                                Receptionist
                            </label>
                        </div>
                    </div>

                    <div class=" container">
                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Insurance Billing"
                                id="insurancebilling" name="clinic_specialties"
                                {{checkbox "Insurance Billing" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="insurancebilling">
                                Insurance Billing
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Dental Assisting"
                                id="dentalassisting" name="clinic_specialties"
                                {{checkbox "Dental Assisting" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="dentalassisting">
                                Dental Assisting
                            </label>
                        </div>

                        <div class="form-check col w-100">
                            <input class="form-check-input" type="checkbox" value="Other" id="cs-other"
                                name="clinic_specialties" {{checkbox "Other" inputs.clinic_specialties}}>
                            <label class="col form-check-label" for="cs-other">
                                Other
                            </label>
                            <div class="col-5 showother" style="margin-top:10px;">
                                <input type="text" class="form-control" id="cs-other-text"
                                    name="clinicspecialty_other_text" value="{{inputs.clinicspecialty_other_text}}"
                                    style="margin-bottom: 10px;" />
                                <label for="cs-other-text"
                                    style="font-style: italic; font-size: 14px; font-weight:normal;">Please separate
                                    specialties
                                    with a
                                    comma.</label>
                                <p style="color: red;">{{details.clinicspecialty_other_textError}}</p>
                            </div>
                        </div>
                    </div>
                    <p style="color: red;">{{details.clinic_specialtiesError}}</p>
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    <label for="clinic_services">Which other services does this clinic offer?<small> <i>Optional</i></small></label>
                    <input type="text" class="form-control" id="clinic_services" name="clinic_services"
                        placeholder="List down any services..." value="{{inputs.clinic_services}}" />
                    <small>Separate clinic services with a comma.</small>
                    <p style="color: red;">{{details.clinic_servicesError}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- AGREEMENT -->
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Employer Agreement<span class="text-danger"> *</span></div>
            <div class="card-text">
                <textarea class="w-100" id="candidateagreement" style="margin-bottom: 10px;" disabled>
 Put your candidate agreement and policy here...
                </textarea>
                <div class="form-check" style="margin-left: 5px; margin-top: -15px;">
                    <input type="checkbox" class="form-check-input" id="useragreement" name="useragreement"
                        {{#if inputs.useragreement}}checked{{/if}} />
                    <label for="useragreement" style="font-style: italic; font-size: 14px; font-weight:normal;">I have
                        read, understand and agree to the Employer
                        Agreement, Terms and Conditions, and Privacy Policy</label>
                    <p style="color: red;">{{details.useragreementError}}</p>
                </div>
                <label for="feedback">Last Question! How did you hear about us?</label>
                <br />
                <div class="dropdown">
                    <select id="feedback" name="feedback"
                        style="border: 2px black; background-color: rgba(197, 194, 194, 0.438); cursor: pointer; margin-left: 5px;">


                        <option value="From a friend" {{select "From a friend" inputs.feedback}}>From a friend</option>
                        <option value="From an ad" {{select "From an ad" inputs.feedback}}>From an ad</option>
                        <option value="From a recommendation" {{select "From a recommendation" inputs.feedback}}>From a
                            recommendation</option>
                    </select>
                </div>
                <br />
                <br />
                <button type="submit" class="btn btn-primary w-100" id="save_button">Save</button>
            </div>
        </div>
    </div>
</form>

<script src="/js/dropdown-populator.js"></script>